<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">Dashboard</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/apps">Apps</a></li>
        <li><a href="#/accounting">Accounting</a></li>
        <li><a href="#/billing">Billing</a></li>
      </ul>
    </div>
  </div>
</div>
