<table class="table table-striped">
  <caption>List of apps you have</caption>
  <thead>
    <tr>
      <th>App name</th>
      <th>Fav</th>
    </tr>
  </thead>
  <tbody>
    {{#each apps}}
    <tr>
      <td>{{this.name}}</td>
      <td>fav !</td>
    </tr>
    {{/each}}
  </tbody>
</table>
